body {
    margin: 0;
}

.navbar img {
    height: 30px;
}

div.explore {
    margin: 20px;
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}

section.big-section {
    background-image: url("../images/background.jpg"); 
    background-size: contain;
    height: 400;
    color: white;

}

section.features {

}

section.kanye {

}



header {
    background-color: white;
}

nav.pos_right {
    left: 100px;
}

.container {
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}